#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export JAVA_HOME := /usr/lib/jvm/default-java
export CLASSPATH := /usr/share/java/jca.jar

%:
	dh --with javahelper $@

override_dh_auto_build:
	ant build doc
