#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

EPICS_HOST_ARCH:=$(shell /usr/lib/epics/startup/EpicsHostArch)

export JAVA_HOME := /usr/lib/jvm/java-6-openjdk
export CLASSPATH := /usr/share/java/jca.jar

%:
	dh --with javahelper $@

override_dh_auto_build:
	ant build doc
